@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

*{
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
    background-color: rgb(30, 29, 69);
    color: rgb(255, 252, 88);
    font-family: 'Heebo', sans-serif;
}

h3:nth-of-type(-n+2){
    cursor: pointer;
}